@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/grid';

.json-array-items {
  display: flex;
  flex-direction: column;
}

json-form {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .json-form-scrollpane-wrapper {
    position: relative;
    flex-grow: 1;
    .json-form-scrollpane {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
}

collapsible-section {
  display: flex;
  flex-direction: row;
}

collapsible-section > .right-pane > .collapsible-content {
  margin-bottom: 0.5rem;
}

collapsible-section > .right-pane {
  flex-grow: 1;
}

collapsible-section > .right-pane > .label-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  //   margin-bottom: 0.5rem;
}

collapsible-section > .right-pane > .label-row > .label-container {
  flex-grow: 1;
}

section-based-elem.json-validation-error > .json-sections {
  border: 2px solid $text-error;
}

json-grid-object .json-validation-error {
  border: 2px solid $text-error;
}

.json-sections {
  margin-top: 0.3rem;

  .json-section-empty {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.json-errors {
  color: $text-error;
  font-size: var(--cds-helper-text-01-font-size, 0.75rem);
}

carbon-json-form-header {
  display: flex;
  flex-direction: row;

  .json-form-header-label {
    flex-grow: 1;
  }
}

.json-modal-field {
  margin-bottom: 1rem;
}

// fix carbon dropdown "hidden" label introducing
// layout inconsistencies compared to input fields
.collapsible-content:has(> string-elem-combo) {
  margin-top: 8px;
}

json-object > .json-prop-buttons {
  display: flex;
  flex-direction: column;

  .json-add-prop-btn-wrapper {
    margin-bottom: 1rem;
  }
}

.collapsible-content:has(> json-array-table) {
  margin-top: 8px;
}
