@use '@carbon/styles/scss/theme' as *;

.json-array-items {
  display: flex;
  flex-direction: column;
}

json-form {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .json-form-scrollpane-wrapper {
    position: relative;
    flex-grow: 1;
    .json-form-scrollpane {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
}

collapsible-section {
  display: flex;
  flex-direction: row;
}

collapsible-section > .right-pane > .collapsible-content {
  margin-bottom: 0.5rem;
}

collapsible-section > .right-pane {
  flex-grow: 1;
}

collapsible-section > .right-pane > .label-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  //   margin-bottom: 0.5rem;
}

collapsible-section > .right-pane > .label-row > .label-container {
  flex-grow: 1;
}

section-based-elem.json-validation-error > .json-sections {
  border: 2px solid $text-error;
}

.json-sections {
  margin-top: 0.3rem;
}

.json-errors {
  color: $text-error;
  font-size: var(--cds-helper-text-01-font-size, 0.75rem);
}

json-form-header {
  display: flex;
  flex-direction: row;

  .json-form-header-label {
    flex-grow: 1;
  }
}

.json-modal-field {
  margin-bottom: 1rem;
}
