@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes';
@use '@diesel-parser/json-form/scss/JsonForm';

:root {
  @include theme(themes.$g10);

  @media (prefers-color-scheme: dark) {
    @include theme(themes.$g100);
  }
}

.g10 {
  @include theme(themes.$g10);
}

.g100 {
  @include theme(themes.$g100);
}

#sandbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
}

#sandbox cds-header {
    position: unset;
    width: 100%;
}

#sandbox.dark {
  color: white;
  background-color: black;
}

.schema-select {
  flex-grow: 1;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  flex-grow: 1;
}

#sandbox .banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

#sandbox .banner h1 {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

#sandbox .banner div {
  margin: 0px 1rem 0px 1rem;
}

.sub {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4px;
}

.sub-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;
}

.sub-head h3 {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 4px;
}

.editor-wrapper textarea {
  flex-grow: 1;
  width: 100%;
  resize: none;
}

#json-form {
  flex-grow: 1;
}

my-rating-renderer cds-radio-button-group {
  margin-top: 1rem;
}

my-string-renderer > div {
  &:hover {
    background-color: lightsalmon;
  }
}
